@import url(http://weloveiconfonts.com/api/?family=entypo);
/*FONTS.SCSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* entypo */
/* line 14, ../sass/fonts.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 18, ../sass/fonts.scss */
.font1 {
  font-family: "Muli", sans-serif;
}

/* line 21, ../sass/fonts.scss */
.font2 {
  font-family: "Montserrat", sans-serif;
}

/* line 24, ../sass/fonts.scss */
.font3 {
  font-family: "Courier", sans-serif;
}

/* line 27, ../sass/fonts.scss */
.font4 {
  font-family: "Libre Baskerville", serif;
}

/* line 30, ../sass/fonts.scss */
.font5 {
  font-family: "Nunito", sans-serif;
}

/* line 34, ../sass/fonts.scss */
body, p {
  font-family: "Nunito", sans-serif;
}

/* line 38, ../sass/fonts.scss */
.filter-name {
  font-family: "Montserrat", sans-serif !important;
}

/* line 41, ../sass/fonts.scss */
.cbp-l-caption-title {
  font-family: "Montserrat", sans-serif;
}

/* line 44, ../sass/fonts.scss */
.cbp-l-caption-desc {
  font-family: "Courier", sans-serif;
}

/* line 47, ../sass/fonts.scss */
.standard-nav li > a {
  font-family: "Courier", sans-serif;
}

/* line 50, ../sass/fonts.scss */
input, textarea {
  font-family: "Courier", sans-serif !important;
}

/* line 53, ../sass/fonts.scss */
.intro-01 .text-rotator span {
  font-family: "Libre Baskerville", serif;
}
