@import url(http://weloveiconfonts.com/api/?family=entypo);
/*FONTS.SCSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* entypo */
/* line 14, ../sass/fonts.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 17, ../sass/fonts.scss */
.entypo.social {
  font-size: 20px;
}

/* line 20, ../sass/fonts.scss */
.font1 {
  font-family: "Muli", sans-serif;
}

/* line 23, ../sass/fonts.scss */
.font2 {
  font-family: "Montserrat", sans-serif;
}

/* line 26, ../sass/fonts.scss */
.font3 {
  font-family: "Courier", sans-serif;
}

/* line 29, ../sass/fonts.scss */
.font4 {
  font-family: "Libre Baskerville", serif;
}

/* line 32, ../sass/fonts.scss */
.font5 {
  font-family: "Nunito", sans-serif;
}

/* line 36, ../sass/fonts.scss */
body, p {
  font-family: "Nunito", sans-serif;
}

/* line 40, ../sass/fonts.scss */
.filter-name {
  font-family: "Montserrat", sans-serif !important;
}

/* line 43, ../sass/fonts.scss */
.cbp-l-caption-title {
  font-family: "Montserrat", sans-serif;
}

/* line 46, ../sass/fonts.scss */
.cbp-l-caption-desc {
  font-family: "Courier", sans-serif;
}

/* line 49, ../sass/fonts.scss */
.standard-nav li > a {
  font-family: "Courier", sans-serif;
}

/* line 52, ../sass/fonts.scss */
input, textarea {
  font-family: "Courier", sans-serif !important;
}

/* line 55, ../sass/fonts.scss */
.intro-01 .text-rotator span {
  font-family: "Libre Baskerville", serif;
}
