/* line 15, ../../scss/style.scss */
body {
  background: #ECF0F1;
}

/* line 16, ../../scss/style.scss */
fieldset {
  width: 50%;
  height: 100px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: none;
}
/* line 25, ../../scss/style.scss */
fieldset input {
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 20px 60px;
  border: none;
  border-bottom: 2px solid rgba(49, 151, 214, 0.5);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #ECF0F1;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #3197d6;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
}
/* line 44, ../../scss/style.scss */
fieldset input ~ i.fa {
  display: none;
}
/* line 48, ../../scss/style.scss */
fieldset input:required:valid {
  background: #c1f3de;
}
/* line 50, ../../scss/style.scss */
fieldset input:required:valid ~ i.fa {
  display: block;
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}
/* line 56, ../../scss/style.scss */
fieldset input:focus {
  outline: none;
  background: rgba(49, 151, 214, 0.05);
  -webkit-transition: all .75s ease-in-out;
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}
/* line 62, ../../scss/style.scss */
fieldset input:focus:invalid ~ i.fa {
  display: none;
}
@media screen and (max-width: 648px) {
  /* line 16, ../../scss/style.scss */
  fieldset {
    width: 80%;
    max-width: 100%;
    height: 200px;
  }
  /* line 72, ../../scss/style.scss */
  fieldset input {
    height: 100%;
    width: 100%;
    font-size: 36px;
  }
}
/* line 78, ../../scss/style.scss */
fieldset i.fa {
  font-size: 25px;
  color: white;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 25px;
  bottom: 0;
  right: 25px;
}
@media screen and (max-width: 648px) {
  /* line 78, ../../scss/style.scss */
  fieldset i.fa {
    font-size: 50px;
    top: 75px;
    right: 50px;
  }
}
