 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
	               <h2>A little about me...</h2>
                    <p>Socially conscious dreamer, currently a designer and developer for <a href="//www.twitter.com/wholefoodsmarket">@WholeFoods</a>. I'm very passionate about sustainability and design as a tool for building common ground. Originally from Rwanda in central region of Africa, I grew up in Buffalo, NY, attended college at Boston University, and now reside in beautiful Austin, TX.
I'm especially interested visual design, and digital experience design opportunities for web and mobile applications.</p>
				<p>I was born in Kigali, Rwanda and raised in Buffalo, NY - the queen city. Following my years at Canisius High School, I went on to attend Boston University where I studied Environmental Analysis & Policy, and also fell in love with the City of Boston. Following BU, I moved to upstate New York to work for Habitat for Humanity doing community development work and community organizing. Its during my time in upstate New York that I began to design and develop websites, and grow my curiosity and interest in digital experience design. I moved to Austin, TX in March of 2014 in hopes of doing freelance work and ended up working for a company i love dearly - Whole Foods Market, where I'm now a web designer. </p>
				<p>I'm always interested in side gigs and particularly interested in pro bono projects for preferably Austin based nonprofits. Please send me a message or get in touch via Twitter or Linked-In.</p>
                </div>
            </div>
        </div>
    </section>