<section id="contact" class="page page-section contact color-bg" style="margin-top:5px;">	


	<div class="container">
			<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<h1 class="main-title font3 black wow fadeInDown">GET IN TOUCH</h1>
					<h3 class="main-heading black font2 wow fadeInDown"><span>i'd love to chat</span></h3>
				</article>
			</div>
	</div>

	<section class="inner-section softwhite-bg add-top-half pad-top-half pad-bottom-half">

		<div id="contact-form-wrap" class="container contact-form-wrap">
			<div class="row">
				<article class="col-md-8 col-md-offset-2 main-caps text-center">
					<div class="contact-item pad-common ">
						<div class="alert alert-error error color-bg" id="fname">
							<p class="white">Sorry I didn't get your name</p>
						</div>
						<div class="alert alert-error  error color-bg" id="fmail">
							<p class="white">Please provide a valid email</p>
						</div>
						 <div class="alert alert-error  error color-bg" id="fmsg">
							 <p class="white">What would you like to chat about?</p>
						 </div>
						  <form name="myform" id="contactForm" action="http://formspree.io/juwiling@gmail.com" enctype="multipart/form-data" method="post"> 
								<article>
									<input type="text" placeholder="Your Name" id="name" name="name" size="100" class="border-form dark wow fadeInDown">
								</article>
								<article>
									 <input type="text" placeholder="Your Email" name="email" id="email" size="30" class="border-form dark wow fadeInDown">
								 </article>
								 <article>
									<textarea placeholder="Your Message" name="message" cols="40" rows="3" id="msg" class="border-form dark wow fadeInDown"></textarea>
									<div class="btn-wrap  text-center">
										<button class="btn btn-jbu btn-jbu-color wow fadeInDown" id="submit" name="submit" type="submit">Send Message</button>
									</div>
								</article>
						 </form>
					</div>
				</article>
			</div>
		</div>

	</section>


	<section class="address-wrap add-top-half">

		<div class="container">
			<div class="row">
				<div data-fx="fadeInDownBig" class="col-md-10 col-md-offset-1 text-center hero-caps animated fadeInDownBig" style="visibility: visible;">
				    	<img src="images/contact.png" title="trinity" alt="trinity">
						<div class="email-wrap font3 wow fadeInDown"><a class="email-heading white" href="#">jbu@jean.bertrand.com</a></div>
						<h3 class="font3 address-heading dark wow fadeInDown">Austin, TX USA</h3>
						
				</div>
			</div>
		</div>
		
	</section>


</section>

<footer class="mastfoot dark-bg">
		<div class="container">
			<div class="row">
				<article class="col-md-12 text-center">
				    <ul class="foot-social wow fadeInDown">
						<li><a class="white" href="http://www.twitter.com/juwiling">TWITTER</a></li>
						<li><a class="white" href="#">BEHANCE</a></li>
						<li><a class="white" href="#">LINKED IN</a></li>
					</ul>
					<p class="credits font5 wow fadeInDown">Jean-Bertrand Uwilingiyimana<br/>Copyright &copy; 2014</p>
				</article>
			</div>
		</div>
</footer>




<!-- Core JS Libraries -->
<script src="javascripts/libs/jquery.min.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.js" ></script> 
<!-- JS Plugins -->
<script src="javascripts/libs/plugins.js"></script>
<!-- JS Custom Codes --> 
<script src="javascripts/custom/intro01-init.js" ></script> 
<script src="javascripts/custom/main.js" ></script> 


</body>
</html>