<footer class="mastfoot dark-bg">
		<div class="container">
			<div class="row">
				<article class="col-md-12 text-center">
				    <ul class="foot-social wow fadeInDown">
						<li><a href="#"><img alt="trinity" title="trinity" src="images/social/01.png"/></a></li>
						<li><a href="#"><img alt="trinity" title="trinity" src="images/social/02.png"/></a></li>
						<li><a href="#"><img alt="trinity" title="trinity" src="images/social/03.png"/></a></li>
						<li><a href="#"><img alt="trinity" title="trinity" src="images/social/04.png"/></a></li>
					</ul>
					<p class="credits font5 wow fadeInDown">A premium template by Designova.<br/>Copyright &copy; 2014</p>
				</article>
			</div>
		</div>
</footer>




<!-- Core JS Libraries -->
<script src="javascripts/libs/jquery.min.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.js" ></script> 
<!-- JS Plugins -->
<script src="javascripts/libs/plugins.js"></script>
<!-- JS Custom Codes --> 
<script src="javascripts/custom/single-project-init.js" ></script> 
<script src="javascripts/custom/main.js" ></script> 