<head>
<meta charset="utf-8">
<title>Jean-Bertrand Uwilingiyimana Portfolio</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="JBU / Jean-Bertrand Uwilingiyimana">
<meta name="author" content="Jean-Bertrand Uwilingiyimana">

<!-- Favicon--> 
<link rel="shortcut icon" href="images/favicon/JBUfavicon.png">

<!-- Standard iPhone Touch Icon--> 
<link rel="apple-touch-icon" sizes="57x57" href="images/touchicons/apple-touch-icon-57-precomposed" />
<!-- Retina iPhone Touch Icon--> 
<link rel="apple-touch-icon" sizes="114x114" href="images/touchicon/apple-touch-icon-114-precomposed" />
<!-- Standard iPad Touch Icon--> 
<link rel="apple-touch-icon" sizes="72x72" href="images/touchicon/apple-touch-icon-72-precomposed" />
<!-- Retina iPad Touch Icon--> 
<link rel="apple-touch-icon" sizes="144x144" href="images/touchicon/apple-touch-icon-144-precomposed" />

<!-- Bootstrap CSS Files -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- Custom Fonts Setup via Font-face CSS3 -->
<link href="fonts/fonts.css" rel="stylesheet">
<!-- CSS files for plugins -->
<link href="stylesheets/plugins.css" rel="stylesheet">
<link href="stylesheets/portfolio.css" rel="stylesheet">
<!-- Home Styles -->
<link href="stylesheets/homepage.css" rel="stylesheet">
<!-- Main Styles -->
<link href="stylesheets/main.css" rel="stylesheet">
<!-- BG Images -->
<link href="stylesheets/main-bg.css" rel="stylesheet">
<!-- Responsive Styles -->
<link href="stylesheets/main-responsive.css" rel="stylesheet">
<!-- Main Template Retina Optimizaton Rules -->
<link href="stylesheets/main-retina.css" rel="stylesheet">
<!-- SASS file for mananaging the color presets shown in CSS stylesheet = /sass/color.scss -->
<link rel="stylesheet" type="text/css" href="css/color.css">
<!-- SASS file for managing font presets shown in CSS stylesheet = /sass/fonts.scss-->
<link rel="stylesheet" type="text/css" href="css/fonts.css">

<!-- Google Web Fonts-->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900%7CMuli:400,300,300italic,400italic%7CMontserrat:400,700%7CNunito:400,700,300%7CLibre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>


 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if IE 9]>
		<link href="stylesheets/ie9.css" rel="stylesheet">
    <![endif]-->

<!-- Modernizr Library-->
<script src="javascripts/libs/modernizr.custom.js"></script>

</head>


<!-- mobile only navigation : starts -->
<nav class="mobile-nav hidden-lg softcolor-bg">
            <ul class="slimmenu">
              <li>
                  <a class="scroll" href="#intro">home</a>
              </li> 
              <li>
                  <a class="scroll" href="#about">about me</a>
              </li> 
              <li>
                  <a class="scroll" href="#portfolio">my work</a>
              </li> 
              <!--<li>
                  <a class="scroll" href="#news">journal</a>
              </li>--> 
              <li>
                  <a class="scroll" href="#contact">contact me</a>
              </li> 
            </ul>
</nav>
<!-- mobile only navigation : ends -->

<!-- masthead-section (this nav bar is initially hidden but will be visible only on inner pages) : starts -->
<header id="standard-header" class="standard-header standard-header-top">

	<div class="container">
		<div class="row">
				<article class="col-md-2 text-left">
					<h3 class="color font3" style="margin-top:25px;"><span><strong>JBU</span><strong>/</h3>
				    	<!--<img alt="trinity" title="trinity" class="main-logo img-responsive" src="images/main-logo.png"/>-->
				</article>
				<article class="col-md-10 text-right">
				    	<ul class="standard-nav standard-nav-dark-text">
						<li><a href="#intro" class="scroll highlighted" id="intro-linker">Home</a></li>
						<li><a href="#about" class="scroll" id="about-linker">About me</a></li>
						<li><a href="#portfolio" class="scroll" id="portfolio-linker">my work</a></li>
						<!--<li><a href="#news" class="scroll" id="news-linker">journal</a></li>-->
						<li><a href="#contact" class="scroll" id="contact-linker">contact me</a></li>
					</ul>
				</article>
		</div>
	</div>

</header>
<!-- masthead-section:ends -->