
<!-- mobile only navigation : starts -->
<nav class="mobile-nav hidden-lg softwhite-bg">
            <ul class="slimmenu">
              <li>
                  <a href="index.html">Go Back</a>
              </li> 
            </ul>
</nav>
<!-- mobile only navigation : ends -->




<!-- masthead-section (this nav bar is initially hidden but will be visible only on inner pages) : starts -->
<header id="standard-header" class="standard-header standard-header-top">

	<div class="container">
		<div class="row">
				<article class="col-md-2 text-left">
				    	<img alt="trinity" title="trinity" class="main-logo img-responsive" src="images/main-logo.png"/>
				</article>
				<article class="col-md-10 text-right">
				    	<ul class="standard-nav standard-nav-dark-text">
						<li><a href="index.html" class="highlighted" id="intro-linker">Go Back</a></li>
					</ul>
				</article>
		</div>
	</div>

</header>