
.caption-panel{
	text-align: left;
}
.caption-panel h1{
	font-size: 34px;
	line-height: 42px;
	font-weight: 300;
}
.caption-panel h3{
	margin-bottom: 30px;
}
.caption-panel h3>span {
	font-family: Courier, sans-serif;
	font-size: 13px;
	line-height: 19px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 4px;
	border: solid 1px;
	border-radius: 1px;
	padding: 9px 10px 10px 11px;
}

.text-rotator span{
	font-size: 64px;
	line-height: 71px;
	font-weight: 200;
	font-style: italic;
}margin:10px 0px;
}
.explore-link{
	margin-top: 30px;
}
.explore-link a{
	font-size: 18px;
	line-height: 25px;
	font-weight: 200;
	font-style: italic;
}
.featured-panel{
	width: 100%;
	bottom: 0;
	position: absolute;
}
.featured-thumb{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.featured-thumb-overlay{
	background-color: rgba(0,0,0,0.8);
}
.featured-thumb a{
	font-size: 14px;
	line-height: 21px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.featured-thumb-overlay{
	height: 120px;
}
.col-md-6.feature-icon {
	width: 100%; 
	margin-bottom: 20px;
}
.col-md-6.feature-icon .entypo {
	font-size: 40px;
	}



/* Container box to set the sides relative to */
.cube {
	float: left;
	display: inline-block;
	width: 25%;
	text-align: center;
	margin: 0;
	height: 120px;
 
	-webkit-transition: -webkit-transform .80s;
	transition: transform .80s; /* Animate the transform properties */
 
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}
 
