/*=====Mix-Ins=====*/

//Background-Image Placement
@mixin background-center {
	background-position: center center;
}
@mixin background-center-top {
	background-position: center top;
}
@mixin background-center-bottom {
	background-position: center bottom;
}
@mixin background-fullwidth {
	background-size: 100%;
}
@mixin background-cover {
	background-size: cover;
}
@mixin background-fixed {
	background-attachment: fixed;
}