{% include header.html %}


<section id="intro" class="intro intro-01 showcase" style="padding-bottom: 50px !important;max-height: 650px;">

	<section class="container">

		<div class="onethirdheight caption-panel">
			<div class="valign">
				
				<h1 class="inline"><strong class="text-rotator align-inline font4"><span class="rotate">passionate, inspired , thoughtful, design</span></strong></h1><br>
				<ul class="standard-nav standard-nav-dark-text header-nav">
						<li><a href="#intro" class="scroll highlighted" id="intro-linker">Home</a></li>
						<li><a href="#about" class="scroll" id="about-linker">About me</a></li>
						<li><a href="#portfolio" class="scroll" id="portfolio-linker">my work</a></li>
						<!--<li><a href="#news" class="scroll" id="news-linker">journal</a></li>-->
						<li><a href="#contact" class="scroll" id="contact-linker">contact me</a></li>
					</ul>
				<h3 class="color font3 inline"><span><strong>JBU</strong> / Jean-Bertrand Uwilingiyimana</span></h3><br>
				<h1 class="black font3">Don’t ask what the world needs. Ask what makes you come alive, and go do it. Because what the world needs is people who have come alive.</h1>
				<div class="explore-link">
					<a href="#about" class="scroll color font4 ease">Dr. Howard Thurman</a>
				</div>
			</div>
		</div>

	</section>



</section> 



<section id="about" class="page page-section about about-bg parallax">	
	<div class="container about-content">
		<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<!--<h3 class="main-heading white font2 wow fadeInDown" ><span>My Story</span></h3>-->
					<h1 class="welcome-text white font3 add-top-half wow fadeInDown"> About Me</h1>
					<hr style="margin: 10px 0px !important;">
				</article>
		</div>
		<div class="row">
				<article class="col-md-6 col-md-offset-3 text-center">
					<p class="white font5 add-top-quarter welcome-text-sub-white wow fadeInDown">Socially conscious dreamer and currently a designer & developer for @wholefoods. I'm very passionate about sustainability and design as a tool for building common ground. Originally from Rwanda in central region of Africa, i grew up in Buffalo, NY and attended college at Boston University<br>
						I'm especially interested in design conceptualization and user interface design opportunities for web and mobile applications.
					</p>
					<div class="add-top-half wow fadeInDown">
						<a class="btn btn-jbu btn-jbu-white scroll" href="#portfolio">See My Work</a>
						<a class="btn btn-jbu btn-jbu-white scroll" href="#portfolio">See My Resume</a>
					</div><br>
					<ul class="foot-social wow fadeInDown">
						<li><a class="white" href="http://www.twitter.com/juwiling">TWITTER</a></li>
						<li><a class="white" href="#">BEHANCE</a></li>
						<li><a class="white" href="#">LINKED IN</a></li>
					</ul>
				</article>
		</div>
	</div>
</section>






<!--<section id="services" class="page page-section services white-bg">	
	<div class="container">
			<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<h1 class="main-title font3 black wow fadeInDown">What I Do</h1>
					<p class="black font5 wow fadeInDown"><span> create stunning designs and produce beautiful experiences</span></p>
				</article>
			</div>
	</div>
</section>-->

<section id="service-list" style="background: #282b2d;">	
	<div class="container-fluid">

	<div class="row">
		
		<article class="col-md-8 col-md-offset-2 features-inner dark-bg text-center">
			<h1 class="font3 white wow fadeInDown text-center">WHAT I DO</h1>
			<hr>
			<div class="row">
	  			<div class="col-md-6 feature-icon wow fadeInDown">
	  				<span class=" color entypo entypo-brush"></span>
	  				<h4 class="font5 white">Design</h4>
	  				<p>style guides, prototyping, visual mockups, photoshop, illustrator, indesign</p>
	  			</div>
	  			<div class="col-md-6 feature-icon">
	  				<span class="color entypo entypo-code"></span>
	  				<h4 class="font5 white">Develop</h4>
	  				<p>HTML, CSS, SASS Javascript</p>
	  			</div>
			</div>
			<hr>

		</article>

	</div>
			
			
	</div>
</section>

<!--

<section id="portfolio" class="page page-section remove-pad-bottom portfolio white-bg">	
	

	<!-- inner-section:starts --
	<section class="inner-section">
		<div class="container">
			<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<h1 class="main-title font3 black wow fadeInDown">my work</h1>
					<h3 class="main-heading black font2 wow fadeInDown"><span>latest collection of my projects</span></h3>
				</article>
			</div>
		</div>
	</section>


	<!-- inner-section:starts --
	<section class="inner-section add-top-half">

		 
        
              
        <!-- Portfolio Plus Filters --
        <div class="portfolio">
        
            
     
       
       <!-- Portfolio Filters --
       <div  id="filters" class="whitegray-bg col-md-12">
    
         
    <div id="filters-container" class="cbp-l-filters-alignCenter wow fadeInDown">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item filter-name">
            All
        </div> /
        <div data-filter=".projects" class="cbp-filter-item filter-name">
            design
        </div> /
        <div data-filter=".development" class="cbp-filter-item filter-name">
            development
        </div> /
        <div data-filter=".gallery" class="cbp-filter-item filter-name">
            photography
        </div> /
        <div data-filter=".videos" class="cbp-filter-item filter-name">
            videos
        </div> 
    </div>

        </div>
        <!--/Portfolio Filters --
    
       
             
        <!-- Portfolio Wrap --
        <div id="portfolio-wrap" class="white-bg">
        
        
        
        
    <div id="grid-container" class="cbp-l-grid-fullScreen softwhite-bg">
        <ul>
            <li class="cbp-item projects">
                <a href="single-project.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img data-no-retina src="http://placehold.it/700x600" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap color-bg">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Project Page</div>
                                <div class="cbp-l-caption-desc">Opens a single project page</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cbp-item projects">
                <a href="single-project.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img data-no-retina src="http://placehold.it/700x600" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Project Page</div>
                                <div class="cbp-l-caption-desc">Opens a single project page</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cbp-item projects">
                <a href="single-project.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img data-no-retina src="http://placehold.it/700x600" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Project Page</div>
                                <div class="cbp-l-caption-desc">Opens a single project page</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cbp-item development">
                <a href="single-project.html" class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img data-no-retina src="http://placehold.it/700x600" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title">Project Page</div>
                                <div class="cbp-l-caption-desc">Opens a single project page</div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
      
            
                  
                 
       </div>
       <!--/Portfolio Wrap --
            
        </div>
        <!--/Portfolio Plus Filters --
        





	</section>	
	<!-- inner-section:ends --	



</section> -->

{% include footer.html %}

