<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="project">
{% include header_project.html %}

<section id="intro" class="intro single-project text-right parallax">

<div id="single-project-carousel" class="single-project-carousel intro-carousel owl-carousel  owl-nav-sticky-wide fullheight">


			<div class="item single-project-carousel-item single-project-carousel-item-01  text-center fullheight">
				<div class="trans-dark fullheight">
					<div class="valign">
						<div class="container">
							<h1 class="black font5"><span>Project Title</span></h1>
							<h5 class="color font2"><span>Category</span></h5>
						</div>
					</div>
					<div class="mouse-icon-wrap">
						<a  class="scroll" href="#service-details" >
							<div class="mouse-icon color hidden-xs" style="opacity: 1;">
							            <div class="wheel"></div>
							 </div>
						</a>
					</div>
				</div>
			</div>
			<!-- item:ends -->

			<div class="item single-project-carousel-item single-project-carousel-item-02  text-center fullheight">
				<div class="trans-dark fullheight">
					<div class="valign">
						<div class="container">
							<h1 class="black font5"><span>Project Title</span></h1>
							<h5 class="color font2"><span>Category</span></h5>
						</div>
					</div>
					<div class="mouse-icon-wrap">
						<a  class="scroll" href="#service-details" >
							<div class="mouse-icon color hidden-xs" style="opacity: 1;">
							            <div class="wheel"></div>
							 </div>
						</a>
					</div>
				</div>
			</div>
			<!-- item:ends -->



		</div>
		<!-- carousel:ends -->

</section> 

<section id="features" class="page-section features white-bg">	
	<div class="container-fluid no-pad">
			<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
							<h3 class="feature-heading black font2"><span>For Awesome Inc.</span></h3>
							<h1 class="testimonial-text dark font5">This text block can display highlights of your project or summary of your project details. This will be the main content about this project.</h1>
						<div class="project-subline color-bg wow fadeInDown add-top-quarter"></div>
						<p class="dark font3 wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				</article>
				<article class="col-md-12 text-center">
						
<ul class="bxslider features-slider">
  <li>
  		<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<p class="dark font3 wow fadeInDown">Caption 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				</article>
		</div>
  </li>
  
  <li>
  		<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<p class="dark font3 wow fadeInDown">Caption 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				</article>
		</div>
  </li>

  <li>
  		<div class="row">
				<article class="col-md-8 col-md-offset-2 text-center">
					<p class="dark font3 wow fadeInDown">Caption 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
				</article>
		</div>
  </li>

</ul>

<div id="bx-pager" class="features-slider-triggers">
  <a class="features-triggered" data-slide-index="0" href=""><img data-no-retina src="http://placehold.it/115x115" alt="" title="" /></a>
  <a data-slide-index="1" href=""><img data-no-retina src="http://placehold.it/115x115" alt="" title="" /></a>
  <a data-slide-index="2" href=""><img data-no-retina src="http://placehold.it/115x115" alt="" title="" /></a>
</div>


					</article>
			</div>
	</div>
</section>


{% include footer.html %}

</body>
</html>